html{
 box-sizing: border-box;
 height: 100%;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}
body{
  align-items:center;
  background: linear-gradient(rgb(211, 19, 19),rgb(187, 216, 20),rgb(194, 16, 218),rgb(45, 166, 175));
  display: flex;
  font-family:'Courier New', Courier, monospace;
  font-display: swap ;
  height: inherit;
  justify-content: center;
}

.calc{
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10%;
  border: 1px solid rgba(255, 255, 255, 0);
  flex-basis:  400px;
  height: 540px ;
  padding: 20px  30px;
}
 
.screen{
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(8, 191, 204, 0.404);
  height: 70px;
  align-items: center;
  justify-content: center;
  border: 1px solid #111;
  border-radius: 15px;
  font-size: 40px;
  overflow: auto;
  text-align: right;
  width: auto;
  padding: 10px;
}

.row-button{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-butt{
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(255,255,255,0.7);
  border: #111 solid  rgba(255,255,255,0.7);
  border-radius: 10px;
  padding: 4px;
  flex-basis: 20%;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  height: 68px;
}
